@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    color: #383e45;
    font-size: 0.9rem;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
li {
    list-style: none;
}


/*
ローディング
*/
.loading_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    background-color: white;
    transition: all 0.5s linear;
}

.loading_bg.loaded {
    opacity: 0;
    visibility: hidden;
}

/*ローディングアイコン HTML: <div class="loader"></div> */
.loader {    
    --r1: 154%;
    --r2: 68.5%;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%; 
    background:
      radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#269af2 80%),
      radial-gradient(var(--r1) var(--r2) at bottom,#269af2 79.5%,#0000 80%),
      radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#269af2 80%),
      #ccc;
    background-size: 50.5% 220%;
    background-position: -100% 0%,0% 0%,100% 0%;
    background-repeat:no-repeat;
    animation: l9 1.5s infinite linear;
  }
  @keyframes l9 {
      33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
      66%  {background-position: -100%  66%,0%   66% ,100% 66% }
      100% {background-position:    0% 100%,100% 100%,200% 100%}
  }
/* ここまで　*/

/* HTML: <div class="loading_text"></div> */
.loading_text {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    gap: 3px;
}

.loading_text span {
    display: inline-block;
    color: #000;
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', '游ゴシック Medium', YuGothic, YuGothicM, 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo, sans-serif;
    font-weight: bold;
    animation: textShadow 2s infinite linear;
    text-transform: uppercase;
}

.loading_text span:nth-child(1) {
    animation-delay: 0.1s;
}

.loading_text span:nth-child(2) {
    animation-delay: 0.2s;
}

.loading_text span:nth-child(3) {
    animation-delay: 0.3s;
}

.loading_text span:nth-child(4) {
    animation-delay: 0.4s;
}

.loading_text span:nth-child(5) {
    animation-delay: 0.5s;
}

.loading_text span:nth-child(6) {
    animation-delay: 0.6s;
}

.loading_text span:nth-child(7) {
    animation-delay: 0.7s;
}

.loading_text span:nth-child(8) {
    animation-delay: 0.8s;
}

.loading_text span:nth-child(9) {
    animation-delay: 0.9s;
}

.loading_text span:nth-child(10) {
    animation-delay: 1s;
}

@keyframes textShadow {
    60% {
        text-shadow: 0px 20px 0px #999;
    }

}

/* ここまで　*/



::after
.site-title {
    width: 120px;
    line-height: 1px;
    padding: 10px 0;
}
.site-title a {
    display: block;
}
.site-title a img {
    width: 120px;
}

.section-title {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 60px;
    border-bottom: solid 1px #383e45;
}


.content-title {
    font-size: 1rem;
    margin: 10px 0;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto 100px auto;
    padding: 0 4%;
    text-align: center;
}




/*----------------------------------
ヘッダー
----------------------------------*/

#header {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; 
}

#header ul {
    display: flex;
    padding: 10px 0;
}
#header li {
    margin-left: 30px;
}
#header li a {
    color: #24292e;
}
#header li a:hover {
    opacity: 0.7;
}


/*----------------------------------
mainvisual
----------------------------------*/
#mainvisual {
    margin-bottom: 80px;
}
#mainvisual img {
    width: 100%;
    max-width: 1920px;
    height: 400px;
    object-fit: cover;
}


/*----------------------------------
About
----------------------------------*/

#about .content {
    display: flex;
    justify-content: center;
    align-items: center;
}
#about img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
}
#about .text {
    text-align: left;
}

/*----------------------------------
Works
----------------------------------*/
#works ul {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* 要素間の間隔を調整 */
    flex-wrap: wrap; /* スマホ表示時に折り返しができるように */
}
#works li {
    width: 32%;
    margin-bottom: 20px;
}
/* 画像を正方形にするためのスタイル */
.app-img-container {
    position: relative;
    width: 90%;
    padding-top: 90%; /* アスペクト比を1:1（正方形）に保つ */
    overflow: hidden; /* ホバーでズームした画像がはみ出ない */
    margin-bottom: 10px;
}
.app-img-container a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;

}
.app-img {
    transition: filter 0.3s ease; /* ホバーエフェクトのスムーズさ */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 画像のアスペクト比を保ちつつ、コンテナを埋める */
}
.content-title {
    margin: 8px 0;
    font-size: 18px;
}

/* アプリ画像ホバー*/
.app-img-container:hover .app-img {
    transform: scale(1.1); /* 1.1倍にズーム */

}
/*オーバーレイ効果*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease;
}

.app-img-container:hover .overlay {
    background-color: rgba(255, 255, 255, 0.2);
}


/* レスポンシブ対応 */
@media screen and (max-width: 300px) {
    #works ul {
        flex-direction: column;
    }
    #works li {
        width: 100%;
    }
}


/*----------------------------------
footer
----------------------------------*/
#footer {
    font-size: 0.5rem;
    padding: 10px 0;
    text-align: center;
}

/*----------------------------------
SP
----------------------------------*/
@media screen and (max-width: 600px) {
    /*----------------------------------
    Mainvisual
    ----------------------------------*/
    #mainxisual img {
        height: calc(100vh - 60px);
    }

    /*----------------------------------
    About
    ----------------------------------*/
    #about .content {
        flex-direction: column;
    }
    #about img {
        margin-right: 0;
    }

    /*----------------------------------
  Works
    ----------------------------------*/
    #works ul {
        flex-direction: column;
    }
    #works li {
        width: 100%;
        margin-bottom: 30px;
    }
}

